<!-- <app-navbar></app-navbar>


<form (ngSubmit)="onSubmit()" [formGroup]="accountForm" class="user-form">
  <div class="form-group">
    <label for="userId">Customer:</label>
    <select formControlName="customer">
        <option value="">Select a Customer</option>
        <option *ngFor="let customer of customers$ | async" [ngValue]="customer">
          {{ customer.name }}
        </option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="balance">Balance:</label>
    <input
      type="text"
      id="balance"
      formControlName="balance"
      class="form-control"
    />
  </div>

  <button type="submit" class="btn-submit">Create Account</button>

  <ng-container>
    <div *ngIf="accountError$ | async as error" class="error">
      {{ error }}
    </div>
    <div *ngIf="accountSuccess$ | async as msg" class="success">
      {{ msg }}
    </div>
  </ng-container>

  <a routerLink="/bank" class="task-list" class="task-list">Dashboard</a>
</form>

BELOW dAY 21-->
<!-- <app-navbar></app-navbar>
<form (ngSubmit)="onSubmit()" [formGroup]="accountForm" class="user-form">
  <div class="form-group">
    <label for="accountId">Account ID:</label>
    <input type="number" id="accountId" formControlName="accountId" class="form-control" />
    </div>
  <div class="form-group">
    <label for="customerId">Customer:</label>
    <select id="customerId" formControlName="customerId">
      <option value="">Select a Customer</option>
      <option *ngFor="let customer of customers" [ngValue]="customer.customerId">
        {{ customer.name }}
        </option>
      </select>
    </div>
  <div class="form-group">
    <label for="balance">Balance:</label>
    <input type="text" id="balance" formControlName="balance" class="form-control" />
    </div>
  <button type="submit" class="btn-submit">Create Account</button>
  <ng-container>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
    </ng-container>
  <a routerLink="/bank" class="task-list">Dashboard</a>
</form> 

Below Day 23-->

<form (ngSubmit)="onSubmit()" [formGroup]="accountForm" class="user-form">
  <div class="form-group">
    <label for="customer">Customer:</label>
    <select id="customer" formControlName="customer">
      <option value="">Select a Customer</option>
      <option *ngFor="let customer of customers" [ngValue]="customer.customerId">
        {{ customer.name }}
        </option>
      </select>
    </div>
  <div class="form-group">
    <label for="balance">Balance:</label>
    <input type="text" id="balance" formControlName="balance" class="form-control" />
    </div>
  <button type="submit" class="btn-submit">Create Account</button>
  <ng-container>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
    </ng-container>
  <a routerLink="/bank" class="task-list">Dashboard</a>
</form>