<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    
    <h2 class="title">Welcome Back 👋</h2>
    <p class="subtitle">Login to your account</p>

    <!-- Username -->
    <div class="form-group">
      <input type="text" formControlName="username" required />
      <label>Username</label>

      <p
        class="error"
        *ngIf="
          loginForm.controls['username'].touched &&
          loginForm.controls['username'].errors?.['required']
        "
      >
        Username is required
      </p>
    </div>

    <!-- Password -->
    <div class="form-group">
      <input type="password" formControlName="password" required />
      <label>Password</label>

      <p
        class="error"
        *ngIf="
          loginForm.controls['password'].touched &&
          loginForm.controls['password'].errors?.['required']
        "
      >
        Password is required
      </p>
    </div>

    <!-- Button -->
    <button type="submit" [disabled]="loginForm.invalid">
      Log In
    </button>

    <!-- Signup -->
    <a routerLink="/auth/add-user" class="task-list">
      Don’t have an account? Sign up
    </a>

    <!-- Error -->
    <div *ngIf="loginError$ | async as error" class="error-message">
      {{ error['message'] }}
    </div>

  </form>
</div>
