<app-navbar></app-navbar>

<div class="dashboard">

  <!-- Customers -->
  <div class="section" *ngIf="role !== 'USER'">
    <h2>Customers</h2>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th class="center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let customer of customers$ | async">
          <td>{{ customer.customerId }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td class="actions">
            <button class="edit" (click)="editCustomer(customer)">Edit</button>
            <button class="delete" (click)="deteteCustomer(customer)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Accounts -->
  <div class="section">
    <h2>Accounts</h2>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Balance</th>
          <th *ngIf="role !== 'USER'" class="center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let account of accounts$ | async">
          <td>{{ account.accountId }}</td>
          <td>{{ account.customer.customerId }}</td>
          <td class="balance">₹ {{ account.balance }}</td>

          <td *ngIf="role !== 'USER'" class="actions">
            <button class="edit" (click)="editAccount(account)">Edit</button>
            <button class="delete" (click)="deteteAccount(account)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Transactions -->
  <div class="section">
    <h2>Transactions</h2>

    <table>
      <thead>
        <tr>
          <th>Account</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let transaction of transactions$ | async">
          <td>{{ transaction.accounts?.accountId }}</td>
          <td class="balance">₹ {{ transaction.amount }}</td>
          <td>{{ transaction.transactionDate | date:'mediumDate' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>