<h2 style="text-align: center">Make a Transaction</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="transactionForm" class="transaction-form">
   <div class="form-group">
     <label for="accounts">Account:</label>
     <select formControlName="accounts">
       <option value="">Select Account</option>
       <option *ngFor="let account of accounts" [ngValue]="account.accountId">
         {{ account.accountId }}
         </option>
       </select>
     </div>
   <div class="form-group">
     <label for="amount">Amount:</label>
     <input type="number" id="amount" formControlName="amount" />
     </div>
   <div class="form-group">
     <label>Transaction Type:</label>
     <input type="radio" formControlName="transactionType" value="CREDIT" /> Credit
     <input type="radio" formControlName="transactionType" value="DEBIT" /> Debit
     </div>
   <button type="submit" class="btn-submit">Submit</button>
   <ng-container>
     <div *ngIf="transactionError" class="error">{{ transactionError }}</div>
     <div *ngIf="transactionSuccess" class="success">{{ transactionSuccess }}</div>
     </ng-container>
   <a routerLink="/bank" class="task-list">Dashboard</a>
</form>